USE [master]
GO
/****** Object:  Database [LeQuangThang2410900071_exam]    Script Date: 26/09/2026 11:57:20 SA ******/
CREATE DATABASE [LeQuangThang2410900071_exam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeQuangThang2410900071_exam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LeQuangThang2410900071_exam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LeQuangThang2410900071_exam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LeQuangThang2410900071_exam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeQuangThang2410900071_exam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeQuangThang2410900071_exam]
GO
/****** Object:  Table [dbo].[LqtEmployee]    Script Date: 26/09/2026 11:57:21 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LqtEmployee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LqtName] [nvarchar](100) NOT NULL,
	[LqtGender] [nvarchar](20) NULL,
	[LqtBirthDay] [date] NULL,
	[LqtEmail] [nvarchar](150) NULL,
	[LqtPhone] [nvarchar](20) NULL,
	[LqtActive] [bit] NOT NULL,
 CONSTRAINT [PK_LqtEmployee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LqtEmployee] ADD  DEFAULT ((1)) FOR [LqtActive]
GO
USE [master]
GO
